<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <title>Moj najdrazi nastavnik</title>
</head>
<body>

  <div class="containter">

    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href=""><img src="../../assets/pencil.png" alt="Logo" width="40px" height="40px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end nav-tabs" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="">Pocetna</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="login">Prijava</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" routerLink="registracija">Registracija</a>
                </li>


              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row" style=" height: 100px;"></div>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

        <table>
          <tr>
            <td><h3>Broj ucenika: </h3></td>
            <td><h3> &nbsp;{{brojUcenika}}</h3></td>
          </tr>
          <tr>
            <td><h3>Broj aktivnih nastavnika:</h3></td>
            <td><h3>&nbsp;{{brojAktivnihNastavnika}}</h3></td>
          </tr>
          <tr>
            <td colspan="2"><h3>Angazovani nastavnici na predmetu:</h3></td>
          </tr>

        </table>

        <div class="row">
          <div class="col-sm-6">

            <table class="table table-striped table-hover">
              <tbody>
                <tr>
                  <td>Matematika</td>
                  <td><input type="radio" name="predmet" id="matematika" [(ngModel)]="predmet" value="matematika"></td>
                </tr>
                <tr>
                  <td>Fizika</td>
                  <td><input type="radio" name="predmet" id="fizika" [(ngModel)]="predmet" value="fizika"></td>
                </tr>
                <tr>
                  <td>Hemija</td>
                  <td><input type="radio" name="predmet" id="hemija" [(ngModel)]="predmet" value="hemija"></td>
                </tr>
                <tr>
                  <td>Informatika</td>
                  <td><input type="radio" name="predmet" id="informatika" [(ngModel)]="predmet" value="informatika"></td>
                </tr>
                <tr>
                  <td>Programiranje</td>
                  <td><input type="radio" name="predmet" id="programiranje" [(ngModel)]="predmet" value="programiranje"></td>
                </tr>
                <tr>
                  <td>Srpski jezik i knjizevnost</td>
                  <td><input type="radio" name="predmet" id="srpski" [(ngModel)]="predmet" value="srpski"></td>
                </tr>
                <tr>
                  <td>Engleski jezik</td>
                  <td><input type="radio" name="predmet" id="engleski" [(ngModel)]="predmet" value="engleski"></td>
                </tr>
                <tr>
                  <td>Nemacki jezik</td>
                  <td><input type="radio" name="predmet" id="nemacki" [(ngModel)]="predmet" value="nemacki"></td>
                </tr>
                <tr>
                  <td>Italijanski jezik</td>
                  <td><input type="radio" name="predmet" id="italijanski" [(ngModel)]="predmet" value="italijanski"></td>
                </tr>
                <tr>
                  <td>Francuski jezik</td>
                  <td><input type="radio" name="predmet" id="francuski" [(ngModel)]="predmet" value="francuski"></td>
                </tr>
                <tr>
                  <td>Spanski jezik</td>
                  <td><input type="radio" name="predmet" id="spanski" [(ngModel)]="predmet" value="spanski"></td>
                </tr>
                <tr>
                  <td>Latinski jezik</td>
                  <td><input type="radio" name="predmet" id="latinski" [(ngModel)]="predmet" value="latinski"></td>
                </tr>
                <tr>
                  <td>Biologija</td>
                  <td><input type="radio" name="predmet" id="biologija" [(ngModel)]="predmet" value="biologija"></td>
                </tr>
                <tr>
                  <td>Istorija</td>
                  <td><input type="radio" name="predmet" id="istorija" [(ngModel)]="predmet" value="istorija"></td>
                </tr>
                <tr>
                  <td>Geografija</td>
                  <td><input type="radio" name="predmet" id="geografija" [(ngModel)]="predmet" value="geografija"></td>
                </tr>
                <tr>
                  <td>Svet oko nas</td>
                  <td><input type="radio" name="predmet" id="svetokonas" [(ngModel)]="predmet" value="svetokonas"></td>
                </tr>
              </tbody>


            </table>
          </div>
          <div class="col-sm-6">
            <h5>Nastavnici: </h5>

            <table>
              <tr *ngFor="let nastavnik of nastavnici">
                <td *ngIf="nastavnik.predmeti.includes(predmet)">{{nastavnik.ime}}</td>
                <td *ngIf="nastavnik.predmeti.includes(predmet)">{{nastavnik.prezime}}</td>
              </tr>
            </table>
          </div>
        </div>


      </div>
      <div class="col-sm-3">
        <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">

          <h3>Pretrazi nastavnike:</h3>
        <table>
          <tr>
            <td><h4>Ime: </h4></td>
            <td><input type="text" [(ngModel)]="imeNastavnika"></td>
          </tr>
          <tr>
            <td><h4>Prezime: </h4></td>
            <td><input type="text" [(ngModel)]="prezimeNastavnika"></td>
          </tr>
          <tr>
            <td>Predmet: </td>
            <td><select id="predmeti" name="predmeti" [(ngModel)]="predmetPretraga">
              <option value="" selected disabled hidden style="display:none">Izaberite predmet</option>
              <option value="matematika">Matematika</option>
              <option value="fizika">Fizika</option>
              <option value="hemija">Hemija</option>
              <option value="informatika">Informatika</option>
              <option value="programiranje">Programiranje</option>
              <option value="srpski">Srpski jezik i knjizevnost</option>
              <option value="engleski">Engleski jezik</option>
              <option value="nemacki">Nemacki jezik</option>
              <option value="italijanski">Italijanski jezik</option>
              <option value="francuski">Francuski jezik</option>
              <option value="spanski">Spanski jezik</option>
              <option value="latinski">Latinski jezik</option>
              <option value="biologija">Biologija</option>
              <option value="istorija">Istorije</option>
              <option value="geografija">Geografija</option>
              <option value="svetokonas">Svet oko nas</option>
          </select></td>
          </tr>

        </table>

        <br>

        <table class="table table-striped table-hover" *ngIf="imeNastavnika=='' && prezimeNastavnika=='' && predmetPretraga==''">
          <thead>
            <tr>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Predmeti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nastavnik of nastavnici">

              <td>{{nastavnik.ime}}</td>
              <td>{{nastavnik.prezime}}</td>
              <td>
                <ul>
                  <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="tabela111" *ngIf="imeNastavnika!='' && prezimeNastavnika=='' && predmetPretraga==''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="imeNastavnika == nastavnik.ime">{{nastavnik.ime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime">{{nastavnik.prezime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>

        </table>

        <table class="tabela111" *ngIf="imeNastavnika!='' && prezimeNastavnika!='' && predmetPretraga==''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="imeNastavnika == nastavnik.ime && prezimeNastavnika==nastavnik.prezime">{{nastavnik.ime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && prezimeNastavnika==nastavnik.prezime">{{nastavnik.prezime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && prezimeNastavnika==nastavnik.prezime">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>

        </table>

        <table class="tabela111" *ngIf="imeNastavnika!='' && prezimeNastavnika =='' && predmetPretraga!=''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga)">{{nastavnik.ime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga)">{{nastavnik.prezime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga)">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>

        </table>

        <table class="tabela111" *ngIf="imeNastavnika!='' && prezimeNastavnika !='' && predmetPretraga!=''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">{{nastavnik.ime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">{{nastavnik.prezime}}</td>
            <td *ngIf="imeNastavnika == nastavnik.ime && nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>



        </table>

        <table class="tabela111" *ngIf="imeNastavnika=='' && prezimeNastavnika !='' && predmetPretraga==''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="prezimeNastavnika==nastavnik.prezime">{{nastavnik.ime}}</td>
            <td *ngIf="prezimeNastavnika==nastavnik.prezime">{{nastavnik.prezime}}</td>
            <td *ngIf="prezimeNastavnika==nastavnik.prezime">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>



        </table>

        <table class="tabela111" *ngIf="imeNastavnika=='' && prezimeNastavnika =='' && predmetPretraga!=''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga)">{{nastavnik.ime}}</td>
            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga)">{{nastavnik.prezime}}</td>
            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga)">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>



        </table>

        <table class="tabela111" *ngIf="imeNastavnika=='' && prezimeNastavnika !='' && predmetPretraga!=''">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
          </tr>
          <tr *ngFor="let nastavnik of nastavnici">

            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">{{nastavnik.ime}}</td>
            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">{{nastavnik.prezime}}</td>
            <td *ngIf="nastavnik.predmeti.includes(predmetPretraga) && prezimeNastavnika==nastavnik.prezime">
              <ul>
                <li *ngFor="let predmet of nastavnik.predmeti">{{predmet}}</li>
              </ul>
            </td>
          </tr>



        </table>




        </div>

      </div>
    </div>

  </div>

</body>
</html>
